In [335]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/robi-datathon-30-qualifier-problem-1/boxes.csv
/kaggle/input/robi-datathon-30-qualifier-problem-1/sample submission 1.csv
/kaggle/input/robi-datathon-30-qualifier-problem-1/problem 1.csv
/kaggle/input/robi-datathon-30-qualifier-problem-1/purchase.csv

# Load Datasets

In [336]:
boxes_df = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-1/boxes.csv')
problem_1_df = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-1/problem 1.csv')
purchase_df = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-1/purchase.csv')

sample_submission_1 = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-1/sample submission 1.csv')

In [337]:
boxes_df

     BOX_ID   QUALITY                  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0         1   Premium              Home Delivery - CoD   0.0   2.7        9.96
1         2   Premium              Home Delivery - CoD   0.0   2.3       11.96
2         3   Premium              Home Delivery - CoD   0.0   2.4       11.96
3         4   Premium              Home Delivery - CoD   0.0   2.5       11.96
4         5   Premium              Home Delivery - CoD   0.0   2.6       11.96
..      ...       ...                              ...   ...   ...         ...
285     286  Standard  Home Delivery - Digital Payment   0.0   4.0       15.96
286     287  Standard  Home Delivery - Digital Payment   0.0   2.9       15.96
287     288  Standard  Home Delivery - Digital Payment   0.0   3.6       15.96
288     289  Standard  Home Delivery - Digital Payment   0.0   4.7       15.96
289     290  Standard  Home Delivery - Digital Payment  12.0   1.8       19.98

[290 rows x 6 columns]

# Check Null

In [338]:
boxes_df.isnull().sum().sum()

0

In [339]:
problem_1_df

         MAGIC_KEY
0      28D5BB06356
1      293BEAB4E98
2      2962EE8065C
3      2957BE29EA9
4      28E351A0745
...            ...
58684  28FB7C09776
58685  28E0E3B69BF
58686  28D343103A7
58687  290B1D6D5CB
58688  28FF193CB94

[58689 rows x 1 columns]

# Check Null

In [340]:
problem_1_df.isnull().sum().sum()

0

In [341]:
purchase_df

        PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0            1/2/2019  2CED678A247    12.0        1.0
1            1/2/2019  2BF58D91BA1    12.0        1.0
2            1/2/2019  2C15B86534E    99.0        1.0
3            1/2/2019  2C32D9A859A     6.0        1.0
4            1/2/2019  2C7A55404D1     4.0        1.0
...               ...          ...     ...        ...
2455859    28/10/2018  2BD992B5538    12.0        1.0
2455860    28/10/2018  2C97CD72233    17.0        1.0
2455861    28/10/2018  2C91C61D372    40.0        1.0
2455862    28/10/2018  2CD70CFC4E3    51.0        1.0
2455863    28/10/2018  2C4792A5B84     4.0        1.0

[2455864 rows x 4 columns]

# Check Null

In [342]:
purchase_df.isnull().sum().sum()

94

In [343]:
sample_submission_1

         MAGIC_KEY PURCHASE
0      28D5BB06356        Y
1      293BEAB4E98        Y
2      2962EE8065C        Y
3      2957BE29EA9        Y
4      28E351A0745        Y
...            ...      ...
58684  28FB7C09776        Y
58685  28E0E3B69BF        Y
58686  28D343103A7        Y
58687  290B1D6D5CB        Y
58688  28FF193CB94        Y

[58689 rows x 2 columns]

In [344]:
(problem_1_df['MAGIC_KEY'] == sample_submission_1['MAGIC_KEY']).unique()

array([ True])

# Check Null

In [345]:
sample_submission_1.isnull().sum().sum()

0

# 1. EDA

In [346]:
merged_df = pd.merge(boxes_df, purchase_df, on='BOX_ID', how='inner')
merged_df

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT
0,1,Premium,Home Delivery - CoD,0.0,2.7,9.96,4/2/2019,2C88D36D1FC,1.0
1,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2BF011BDB38,1.0
2,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2CA0EE8F2B3,1.0
3,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2C623730B09,1.0
4,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2/1/2019,2CA6CE1054F,1.0
...,...,...,...,...,...,...,...,...,...
2455795,289,Standard,Home Delivery - Digital Payment,0.0,4.7,15.96,18/2/2019,29149CE828C,1.0
2455796,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,20/2/2019,28FF7857D43,1.0
2455797,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,5/1/2019,28F675D813E,1.0
2455798,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,11/1/2019,29D99F43873,1.0
2455799,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,19/11/2018,28DCF9E5BB0,1.0

In [347]:
outer_merged_df = pd.merge(merged_df, sample_submission_1, on='MAGIC_KEY', how='outer')
outer_merged_df

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,PURCHASE
0,231,Standard,Delivery from Collection Point,8.5,0.0,10.14,2/2/2019,249670911D8,1.0,NaN
1,245,Standard,Delivery from Collection Point,0.0,2.4,13.96,1/11/2018,249670911D8,1.0,NaN
2,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,12/10/2018,249751FC4DD,1.0,NaN
3,27,Premium,Home Delivery - CoD,0.0,2.9,15.96,19/10/2018,24978027606,1.0,NaN
4,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,30/11/2018,24979164422,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2455795,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,25/12/2018,2E6FB0EBB32,1.0,NaN
2455796,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,26/11/2018,2E6FB0EBB32,1.0,NaN
2455797,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,27/10/2018,2E6FB0EBB32,1.0,NaN
2455798,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,1/10/2018,2E6FB0EBB32,1.0,NaN
2455799,78,Premium,Delivery from Collection Point,0.0,2.7,11.96,20/2/2019,2E6FBE224FA,1.0,NaN

# Fill By 'N'

In [348]:
outer_merged_df['PURCHASE'].fillna('N', inplace=True)
outer_merged_df

/tmp/ipykernel_34/1218297744.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  outer_merged_df['PURCHASE'].fillna('N', inplace=True)

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,PURCHASE
0,231,Standard,Delivery from Collection Point,8.5,0.0,10.14,2/2/2019,249670911D8,1.0,N
1,245,Standard,Delivery from Collection Point,0.0,2.4,13.96,1/11/2018,249670911D8,1.0,N
2,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,12/10/2018,249751FC4DD,1.0,N
3,27,Premium,Home Delivery - CoD,0.0,2.9,15.96,19/10/2018,24978027606,1.0,N
4,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,30/11/2018,24979164422,1.0,N
...,...,...,...,...,...,...,...,...,...,...
2455795,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,25/12/2018,2E6FB0EBB32,1.0,N
2455796,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,26/11/2018,2E6FB0EBB32,1.0,N
2455797,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,27/10/2018,2E6FB0EBB32,1.0,N
2455798,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,1/10/2018,2E6FB0EBB32,1.0,N
2455799,78,Premium,Delivery from Collection Point,0.0,2.7,11.96,20/2/2019,2E6FBE224FA,1.0,N

# Check NullCheck Null

In [349]:
outer_merged_df.isnull().sum().sum()

0

# check duplicate

In [350]:
outer_merged_df.duplicated().sum()

77

# removed duplicates

In [351]:
df_unique = outer_merged_df.drop_duplicates(keep='last')
df_unique

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,PURCHASE
0,231,Standard,Delivery from Collection Point,8.5,0.0,10.14,2/2/2019,249670911D8,1.0,N
1,245,Standard,Delivery from Collection Point,0.0,2.4,13.96,1/11/2018,249670911D8,1.0,N
2,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,12/10/2018,249751FC4DD,1.0,N
3,27,Premium,Home Delivery - CoD,0.0,2.9,15.96,19/10/2018,24978027606,1.0,N
4,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,30/11/2018,24979164422,1.0,N
...,...,...,...,...,...,...,...,...,...,...
2455795,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,25/12/2018,2E6FB0EBB32,1.0,N
2455796,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,26/11/2018,2E6FB0EBB32,1.0,N
2455797,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,27/10/2018,2E6FB0EBB32,1.0,N
2455798,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,1/10/2018,2E6FB0EBB32,1.0,N
2455799,78,Premium,Delivery from Collection Point,0.0,2.7,11.96,20/2/2019,2E6FBE224FA,1.0,N

In [352]:
df_unique['PURCHASE'].unique()

array(['N', 'Y'], dtype=object)

# Feature engineenring

In [353]:
df_dropped = df_unique.drop(['BOX_ID', 'PURCHASE_DATE', 'MAGIC_KEY', 'BOX_COUNT'], axis=1)
df_dropped

,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
0,Standard,Delivery from Collection Point,8.5,0.0,10.14,N
1,Standard,Delivery from Collection Point,0.0,2.4,13.96,N
2,Standard,Delivery from Collection Point,10.0,1.8,17.98,N
3,Premium,Home Delivery - CoD,0.0,2.9,15.96,N
4,Standard,Delivery from Collection Point,0.0,2.5,13.96,N
...,...,...,...,...,...,...
2455795,Standard,Delivery from Collection Point,8.0,2.2,17.98,N
2455796,Standard,Delivery from Collection Point,8.0,2.2,17.98,N
2455797,Standard,Delivery from Collection Point,8.0,2.2,17.98,N
2455798,Standard,Delivery from Collection Point,10.0,1.8,17.98,N
2455799,Premium,Delivery from Collection Point,0.0,2.7,11.96,N

# Encoding

In [354]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df_dropped['PURCHASE'] = encoder.fit_transform(df_dropped['PURCHASE'])
df_dropped['QUALITY'] = encoder.fit_transform(df_dropped['QUALITY'])
df_dropped['DELIVERY_OPTION'] = encoder.fit_transform(df_dropped['DELIVERY_OPTION'])

In [355]:
df_dropped

         QUALITY  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE  PURCHASE
0              1                0   8.5   0.0       10.14         0
1              1                0   0.0   2.4       13.96         0
2              1                0  10.0   1.8       17.98         0
3              0                1   0.0   2.9       15.96         0
4              1                0   0.0   2.5       13.96         0
...          ...              ...   ...   ...         ...       ...
2455795        1                0   8.0   2.2       17.98         0
2455796        1                0   8.0   2.2       17.98         0
2455797        1                0   8.0   2.2       17.98         0
2455798        1                0  10.0   1.8       17.98         0
2455799        0                0   0.0   2.7       11.96         0

[2455723 rows x 6 columns]

In [356]:
df_dropped.describe()

,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
count,2.455723e+06,2.455723e+06,2.455723e+06,2.455723e+06,2.455723e+06,2.455723e+06
mean,2.847854e-01,1.304870e-01,8.132507e+00,2.055551e+00,1.762161e+01,8.901696e-02
std,4.513123e-01,3.404496e-01,5.777962e+00,9.765975e-01,4.068271e+00,2.847683e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.560000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+00,1.396000e+01,0.000000e+00
50%,0.000000e+00,0.000000e+00,1.000000e+01,2.200000e+00,1.798000e+01,0.000000e+00
75%,1.000000e+00,0.000000e+00,1.100000e+01,2.500000e+00,1.998000e+01,0.000000e+00
max,1.000000e+00,2.000000e+00,2.400000e+01,5.800000e+00,2.398000e+01,1.000000e+00

# make X and y

In [357]:
X = df_dropped.drop('PURCHASE', axis=1) 
X

         QUALITY  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0              1                0   8.5   0.0       10.14
1              1                0   0.0   2.4       13.96
2              1                0  10.0   1.8       17.98
3              0                1   0.0   2.9       15.96
4              1                0   0.0   2.5       13.96
...          ...              ...   ...   ...         ...
2455795        1                0   8.0   2.2       17.98
2455796        1                0   8.0   2.2       17.98
2455797        1                0   8.0   2.2       17.98
2455798        1                0  10.0   1.8       17.98
2455799        0                0   0.0   2.7       11.96

[2455723 rows x 5 columns]

In [358]:
y = df_dropped['PURCHASE']
y

0          0
1          0
2          0
3          0
4          0
          ..
2455795    0
2455796    0
2455797    0
2455798    0
2455799    0
Name: PURCHASE, Length: 2455723, dtype: int64

# Normalization

In [359]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

X = scaler.fit_transform(X)
X

array([[ 1.        ,  0.        , -0.13636364, -3.14285714, -1.30232558],
       [ 1.        ,  0.        , -0.90909091,  0.28571429, -0.66777409],
       [ 1.        ,  0.        ,  0.        , -0.57142857,  0.        ],
       ...,
       [ 1.        ,  0.        , -0.18181818,  0.        ,  0.        ],
       [ 1.        ,  0.        ,  0.        , -0.57142857,  0.        ],
       [ 0.        ,  0.        , -0.90909091,  0.71428571, -1.        ]])

# Splitting a dataset into training and testing sets

In [360]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Best model finding

In [361]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier



classifiers = {
    'Logistic Regression': LogisticRegression(max_iter=200),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Support Vector Machine': SVC(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(n_estimators=100),
    'Gradient Boosting': GradientBoostingClassifier()
}

In [362]:
from sklearn.metrics import accuracy_score


accuracy_scores = {}
models = {}
best_model = None
best_accuracy = float('-inf')

for name, clf in classifiers.items():
    model = clf.fit(X_train, y_train)
    
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    
    if best_accuracy < accuracy:
        best_model = model
    
    models[name] = model
    accuracy_scores[name] = accuracy
    print(f"{name} Accuracy: {accuracy * 100:.2f}%")
    
    break

Logistic Regression Accuracy: 91.02%

In [363]:
best_model

LogisticRegression(max_iter=200)

# Submission

In [364]:
df_unique

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,PURCHASE
0,231,Standard,Delivery from Collection Point,8.5,0.0,10.14,2/2/2019,249670911D8,1.0,N
1,245,Standard,Delivery from Collection Point,0.0,2.4,13.96,1/11/2018,249670911D8,1.0,N
2,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,12/10/2018,249751FC4DD,1.0,N
3,27,Premium,Home Delivery - CoD,0.0,2.9,15.96,19/10/2018,24978027606,1.0,N
4,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,30/11/2018,24979164422,1.0,N
...,...,...,...,...,...,...,...,...,...,...
2455795,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,25/12/2018,2E6FB0EBB32,1.0,N
2455796,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,26/11/2018,2E6FB0EBB32,1.0,N
2455797,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,27/10/2018,2E6FB0EBB32,1.0,N
2455798,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,1/10/2018,2E6FB0EBB32,1.0,N
2455799,78,Premium,Delivery from Collection Point,0.0,2.7,11.96,20/2/2019,2E6FBE224FA,1.0,N

In [365]:
problem_1_df

         MAGIC_KEY
0      28D5BB06356
1      293BEAB4E98
2      2962EE8065C
3      2957BE29EA9
4      28E351A0745
...            ...
58684  28FB7C09776
58685  28E0E3B69BF
58686  28D343103A7
58687  290B1D6D5CB
58688  28FF193CB94

[58689 rows x 1 columns]

In [366]:
df_unique

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,PURCHASE
0,231,Standard,Delivery from Collection Point,8.5,0.0,10.14,2/2/2019,249670911D8,1.0,N
1,245,Standard,Delivery from Collection Point,0.0,2.4,13.96,1/11/2018,249670911D8,1.0,N
2,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,12/10/2018,249751FC4DD,1.0,N
3,27,Premium,Home Delivery - CoD,0.0,2.9,15.96,19/10/2018,24978027606,1.0,N
4,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,30/11/2018,24979164422,1.0,N
...,...,...,...,...,...,...,...,...,...,...
2455795,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,25/12/2018,2E6FB0EBB32,1.0,N
2455796,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,26/11/2018,2E6FB0EBB32,1.0,N
2455797,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,27/10/2018,2E6FB0EBB32,1.0,N
2455798,260,Standard,Delivery from Collection Point,10.0,1.8,17.98,1/10/2018,2E6FB0EBB32,1.0,N
2455799,78,Premium,Delivery from Collection Point,0.0,2.7,11.96,20/2/2019,2E6FBE224FA,1.0,N

In [367]:
df_unique = df_unique.drop_duplicates(subset='MAGIC_KEY', keep='first')

In [368]:
df_unique = df_unique[df_unique['MAGIC_KEY'].isin(problem_1_df['MAGIC_KEY'])]
df_unique

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE_DATE,MAGIC_KEY,BOX_COUNT,PURCHASE
12,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,5/2/2019,2498CA210F2,1.0,Y
20,103,Premium,Delivery from Collection Point,0.0,4.0,15.96,13/2/2019,249BD4201E6,1.0,Y
26,247,Standard,Delivery from Collection Point,0.0,2.7,13.96,5/10/2018,249C911B64A,1.0,Y
34,246,Standard,Delivery from Collection Point,0.0,2.5,13.96,28/10/2018,249D123A385,1.0,Y
38,255,Standard,Delivery from Collection Point,0.0,3.6,15.96,2/2/2019,249DA1DC108,1.0,Y
...,...,...,...,...,...,...,...,...,...,...
605149,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,13/2/2019,297D14BF319,1.0,Y
605200,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,4/2/2019,297D17F1EED,1.0,Y
605212,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,23/10/2018,297D18E7B24,1.0,Y
605236,235,Standard,Delivery from Collection Point,10.0,0.2,12.18,13/10/2018,297D1A68BFD,1.0,Y
605245,258,Standard,Delivery from Collection Point,8.0,2.2,17.98,6/2/2019,297D1AE218B,1.0,Y

In [369]:
df_dropped = df_unique.drop(['BOX_ID', 'PURCHASE_DATE', 'BOX_COUNT'], axis=1)
df_dropped = df_dropped[:58689]
df_dropped

,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,MAGIC_KEY,PURCHASE
12,Standard,Delivery from Collection Point,0.0,2.5,13.96,2498CA210F2,Y
20,Premium,Delivery from Collection Point,0.0,4.0,15.96,249BD4201E6,Y
26,Standard,Delivery from Collection Point,0.0,2.7,13.96,249C911B64A,Y
34,Standard,Delivery from Collection Point,0.0,2.5,13.96,249D123A385,Y
38,Standard,Delivery from Collection Point,0.0,3.6,15.96,249DA1DC108,Y
...,...,...,...,...,...,...,...
605149,Standard,Delivery from Collection Point,8.0,2.2,17.98,297D14BF319,Y
605200,Standard,Delivery from Collection Point,8.0,2.2,17.98,297D17F1EED,Y
605212,Standard,Delivery from Collection Point,8.0,2.2,17.98,297D18E7B24,Y
605236,Standard,Delivery from Collection Point,10.0,0.2,12.18,297D1A68BFD,Y
605245,Standard,Delivery from Collection Point,8.0,2.2,17.98,297D1AE218B,Y

In [370]:
sub_df = df_dropped[['MAGIC_KEY', 'PURCHASE']]
sub_df

          MAGIC_KEY PURCHASE
12      2498CA210F2        Y
20      249BD4201E6        Y
26      249C911B64A        Y
34      249D123A385        Y
38      249DA1DC108        Y
...             ...      ...
605149  297D14BF319        Y
605200  297D17F1EED        Y
605212  297D18E7B24        Y
605236  297D1A68BFD        Y
605245  297D1AE218B        Y

[58689 rows x 2 columns]

In [371]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df_dropped['PURCHASE'] = encoder.fit_transform(df_dropped['PURCHASE'])
df_dropped['QUALITY'] = encoder.fit_transform(df_dropped['QUALITY'])
df_dropped['DELIVERY_OPTION'] = encoder.fit_transform(df_dropped['DELIVERY_OPTION'])

In [372]:
df_dropped

,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,MAGIC_KEY,PURCHASE
12,1,0,0.0,2.5,13.96,2498CA210F2,0
20,0,0,0.0,4.0,15.96,249BD4201E6,0
26,1,0,0.0,2.7,13.96,249C911B64A,0
34,1,0,0.0,2.5,13.96,249D123A385,0
38,1,0,0.0,3.6,15.96,249DA1DC108,0
...,...,...,...,...,...,...,...
605149,1,0,8.0,2.2,17.98,297D14BF319,0
605200,1,0,8.0,2.2,17.98,297D17F1EED,0
605212,1,0,8.0,2.2,17.98,297D18E7B24,0
605236,1,0,10.0,0.2,12.18,297D1A68BFD,0
605245,1,0,8.0,2.2,17.98,297D1AE218B,0

In [374]:
y_test = df_dropped['PURCHASE']
y_test

12        0
20        0
26        0
34        0
38        0
         ..
605149    0
605200    0
605212    0
605236    0
605245    0
Name: PURCHASE, Length: 58689, dtype: int64

In [375]:
df_dropped.drop(['MAGIC_KEY', 'PURCHASE'], inplace=True, axis=1)

In [376]:
df_dropped

        QUALITY  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
12            1                0   0.0   2.5       13.96
20            0                0   0.0   4.0       15.96
26            1                0   0.0   2.7       13.96
34            1                0   0.0   2.5       13.96
38            1                0   0.0   3.6       15.96
...         ...              ...   ...   ...         ...
605149        1                0   8.0   2.2       17.98
605200        1                0   8.0   2.2       17.98
605212        1                0   8.0   2.2       17.98
605236        1                0  10.0   0.2       12.18
605245        1                0   8.0   2.2       17.98

[58689 rows x 5 columns]

In [377]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

X_test = scaler.fit_transform(df_dropped)
X_test

array([[ 0.        ,  0.        , -0.83333333,  0.33333333, -0.49751244],
       [-1.        ,  0.        , -0.83333333,  5.33333333,  0.        ],
       [ 0.        ,  0.        , -0.83333333,  1.        , -0.49751244],
       ...,
       [ 0.        ,  0.        ,  0.11904762, -0.66666667,  0.50248756],
       [ 0.        ,  0.        ,  0.35714286, -7.33333333, -0.94029851],
       [ 0.        ,  0.        ,  0.11904762, -0.66666667,  0.50248756]])

In [379]:
predict = best_model.predict(X_test)
predict

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
# Map 0 to 'N' and 1 to 'Y'
mapped_array = np.where(predict == 0, 'N', 'Y')

In [ ]:
sub_df['PURCHASE'] = mapped_array

In [383]:
sub_df

          MAGIC_KEY PURCHASE
12      2498CA210F2        Y
20      249BD4201E6        Y
26      249C911B64A        Y
34      249D123A385        Y
38      249DA1DC108        Y
...             ...      ...
605149  297D14BF319        Y
605200  297D17F1EED        Y
605212  297D18E7B24        Y
605236  297D1A68BFD        Y
605245  297D1AE218B        Y

[58689 rows x 2 columns]

In [384]:
sub_df['PURCHASE'].unique()

array(['Y'], dtype=object)

In [ ]:
sub_df.duplicated().sum()

In [ ]:
sub_df.to_csv('submission.csv', index=False)

# Error Analysis:

In [381]:
errors = y_test - predict
error_analysis_df = pd.DataFrame({'Actual': y_test, 'Predicted': predict, 'Error': errors})
error_analysis_df

        Actual  Predicted  Error
12           0          0      0
20           0          0      0
26           0          0      0
34           0          0      0
38           0          0      0
...        ...        ...    ...
605149       0          0      0
605200       0          0      0
605212       0          0      0
605236       0          0      0
605245       0          0      0

[58689 rows x 3 columns]

In [382]:
error_analysis_df.Error.sum()

0

In [386]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, predict)

0.0